.section {
    margin-top: -5px;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-end;
}


@media screen and (max-width:991px) {
    .section {
        margin-top: 50px;
    }
    
    .services {
        
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}