.bannerSection {
    position: relative;
}

.bannerImage {
    color: transparent;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerContent {
    padding-top: 160px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 535px;
}

.title {
    border: 8px dashed #FFFFFF;
    padding: 40px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    width: fit-content;
}

.subTitle {
    font-size: 48px;
    color: #FFFFFF;
}

.subTitle span {
    color: #32C1EA;
}

.description {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .bannerSection {
        background-color: #001D4A;
        padding-top: 20px;
    }
    .bannerContent {
        padding-top: 20px;
    }
    .informationPanelFixed {
        padding-top: 135px;
    }
}