.socialLinks {
    position: fixed;
    right: 15px;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}

.socialLinks a {
    transition: all .15s;
}

.socialLinks a:hover {
    transform: scale(1.3);
}